<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Portfolio Site</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="icon">
	<environment>
		<!-- Google Fonts -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900">

		<!-- Bootstrap CSS File -->
		@*<link href="~/Assets/lib/bootstrap/css/bootstrap.min.css">*@

		<!-- Libraries CSS Files -->
		<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">

		<!-- Main Stylesheet File -->
		<link rel="stylesheet" href="~/css/style.css">

		<link rel="stylesheet" href="~/css/AlterAccess.css" />
	</environment>
	@*    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Portfolio_Site.styles.css" asp-append-version="true" />*@
</head>
<body>
	@*<header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
	<div class="container-fluid">
	<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Portfolio_Site</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
	aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
	<ul class="navbar-nav flex-grow-1">
	<li class="nav-item">
	<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
	</li>
	<li class="nav-item">
	<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
	</li>
	</ul>
	</div>
	</div>
	</nav>
	</header>*@
	@*<div class="container">
	<main role="main" class="pb-3">*@
	@RenderBody()
	@*</main>
	</div>
	*@
	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2023 - Portfolio_Site - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	<script src="~/Assets/lib/jquery/jquery.min.js"></script>
	<script src="~/Assets/lib/jquery/jquery-migrate.min.js"></script>
	<script src="~/Assets/lib/superfish/hoverIntent.js"></script>
	<script src="~/Assets/lib/superfish/superfish.min.js"></script>
	<script src="~/Assets/lib/tether/js/tether.min.js"></script>
	<script src="~/Assets/lib/stellar/stellar.min.js"></script>
	<script src="~/Assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/Assets/lib/counterup/counterup.min.js"></script>
	<script src="~/Assets/lib/waypoints/waypoints.min.js"></script>
	<script src="~/Assets/lib/easing/easing.js"></script>
	<script src="~/Assets/lib/stickyjs/sticky.js"></script>
	<script src="~/Assets/lib/parallax/parallax.js"></script>
	<script src="~/Assets/lib/lockfixed/lockfixed.min.js"></script>

	<!-- Template Specisifc Custom Javascript File -->
	<script src="~/Assets/js/custom.js"></script>

	<script src="~/Assets/contactform/contactform.js"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
